/************

I'm using a CSS Reset by Meyer Web 

***************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*********************

Start of my CSS Code 

*********************/



/***************

Desktop Version

****************/



/* Home Page CSS Style */


body {
    font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 1.2em;
    margin-bottom: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;

    padding-left:  10px;
    padding-right: 10px;
}

/* Navigation Menu */

/* The navigation menu is displayed vertically on mobile */

nav {

    display: flex;
    flex-direction: column;

    background-color: #312C74;

    margin: 0 auto;
}


.logo img {
    display: block;
    margin: auto;
    width: 40%;

    padding-top: 10px;

}

.menu-nav ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;


    padding: 1em 1.5em;
}
.menu-nav ul {
    list-style-type: none;
}

.menu-nav ul li {
    padding: 1em 1.5em;
    text-align: center;
}

/* The menu link changes colour when the mouse is hover */

.menu-nav ul li a:hover {
    background-color: #E87D84;
}

/* Homepage Header */


/* The header has a background image and a title, text and a button */

header {
    background-image: linear-gradient(rgba(49,44,116,0.6), rgba(49, 44, 116, 0.6)), url("../images/hero-image-1600x500.jpg");    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    text-align:left;
    padding-top: 4em;
    padding-bottom: 4em;

    margin-bottom: 20px;
}

.hero-section {
    text-align: left;

    top: 20%;
    bottom: 50%;

    margin: auto;
    max-width: 900px;

}

h1 {
    color: white;
    font-size: 2.5em;
    font-family: 'Archivo Black', sans-serif;

    margin-bottom: 10px;
}

.hero-section > p {
    color: white;
    font-size: 1em;

    padding-right: 30%;

    margin-bottom: 30px;
}

.button1 {
    display: inline-block;
    color: white;
    background-color: #E87D84;
    text-transform: uppercase;

    text-decoration: none;
    padding: 1em 2em;

    margin-bottom: 1.3em;


}

.button1:hover {
    background-color: #312C74;
}


/* Featured Products section in the homepage */



h2 {
    color: #312C74;
    font-family: 'Archivo Black', sans-serif;

    font-size: 2em;

    text-align: center;

    margin-bottom: 1em;
    
}

/* Each product has an image and below there's the name of the product and price and a button to add to cart */

.product {
    display: flex;
    flex-direction: column;
}

.product img {
    width: 100%;

    margin-bottom: 10px;
}
.product p {
    font-size: 1.1em;

    margin-bottom: 10px;
}

.button2 {

    display: block;
    text-align: center;

    color: white;
    background-color: #95C0E1;
    text-transform: uppercase;

    text-decoration: none;
    padding: 1em 2em;

    margin-bottom: 1.3em;
}

.button2:hover {
    background-color: #312C74;
}

/* The featured section shows a grid with the products in 2 columns on mobile. */


.featured-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    gap: 10px;

}

.featured-grid:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.featured-grid:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.featured-grid:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.featured-grid:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.featured-grid:nth-child(5) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.featured-grid:nth-child(6) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

/* Services section in the homepage */

/* The Services Section has a background image with the text overlayed */

.services {

    background-image: linear-gradient(rgba(49,44,116,0.8), rgba(49, 44, 116, 0.8)), url("../images/services-1600x500.jpg");   

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    padding: 3em 0;

}


h3 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 1.2em;

    padding-bottom: 10px;
}

.services h2, .services i, .services h3, .services p {
    color: white;
}
.services h2 {
    margin-bottom: 2em;
}

/* The services are displayed vertically on mobile and horizontally on desktop */

.service-flex {
    display: flex;

    flex-direction: column;
}

.service-card {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-bottom: 20px;
}

.service-card i {
    font-size: 3em;
    padding-bottom: 10px;
}

.service-card p {
    text-align: center;
    margin: 0 2em;

    padding-bottom: 10px;
}


/* About us information in the homepage */

/* The info section is displayed vertically on mobile, and it has a title, paragraphs, a button to go to the About page and an image */

.home-info {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
}

.home-info div {
    margin-bottom: 30px;
}

.home-info div img {
    width: 100%;
}

/* Footer Section */

/* The footer section has a backround colour and is displayed horizontally on mobile */

footer {
    background-color:#95C0E1;

    padding: 10px;
    color: white;

    display: flex;
    flex-direction: column;
}

footer img {
    display: block;
    margin: auto;
    width: 40%;

    padding-bottom: 10px;
}

footer p {
    text-align: center;
    font-size: .5em;
}

/***********

Menu.html Page CSS Style 


*************/

/* The Menu title has a bacckground image and the text is centred */

.menu-header {

    background-image: linear-gradient(rgba(49,44,116,0.6), rgba(49, 44, 116, 0.6)), url("../images/menu-hero-1600x500.jpg");    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    text-align:left;
    padding: 4em;

    margin-bottom: 20px;
}

.hero-menu {

    text-align: center;

    top: 20%;
    bottom: 50%;

    margin: auto;
    max-width: 900px;

}

/* The heading is aligned to the left */

.left-heading {
    text-align: left;
}

/***********

About.html Page CSS Style 


*************/

/* The About Us title has a background image and the title is centred */

.about-header {

    background-image: linear-gradient(rgba(49,44,116,0.6), rgba(49, 44, 116, 0.6)), url("../images/about-hero-1600x500.jpg");    

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    text-align:left;
    padding: 4em;

    margin-bottom: 20px;
}

/* The About Us information has an image and is displayed vertically on mobile and in 2 columns on desktop */

.flex-about {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.flex-about div img {
    width: 100%;
}

/* This section is displayed full width and has a background image and white text */

.about-tradition {

    background-image: linear-gradient(rgba(49,44,116,0.8), rgba(49, 44, 116, 0.8)), url("../images/about-1600x500.jpg");   

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    padding: 4em 0;

    margin-bottom: 2em;

}

.about-tradition h2, .about-tradition p {
    color: white;
    text-align: center;
}

/* The Meet the team section is displayed vertically on mobile and horizontally on desktop */

.team {
    display: flex;

    flex-direction: column;


}

/* Each tem member has a photo and below there is their name and position centred */

.team-member img {
    width: 100%;
}

.team-member p {
    text-align: center;

}


/***************

Desktop Version (More than 900px)

****************/



/* Homepage CSS Style */



@media screen and (min-width: 900px) {

    /* The Menu will change to horizontal when the screen is bigger than 900px */

    nav {
        display: flex;
        flex-direction: row;
    }

    .menu-nav ul {
        display: flex;
        flex-direction: row;
    }

    .logo img {
        width: 150px;
    }

    /* The Featured products section will be displayed in 3 columns */

    .featured-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr ;
    }

    /* The services will be displayed horizontally on desktop size */

    .service-flex {
        display: flex;
        flex-direction: row;
    }

    /* The About info in the homepage is going to split into 2 columns, one for the title, paragraphs and button and the other column with the image */

    .home-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    /* The footer will be displayed horizontally on desktop version */

    footer {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
    }

    footer img {
        width: 100px;
    }

    /* Whith the screen size more than 900px, the buttons to add to cart will shake when the mouse hovers.  */

    @keyframes product-swing {
        15% {
            transform: translateX(5px);
        }
        30% {
            transform: translateX(-5px);
        }
        50% {
            transform: translateX(3px);
        }
        65% {
            transform: translateX(-3px);
        }
        80% {
            transform: translateX(2px);
        }
        100% {
            transform: translateX(0);
        }
    }

    .button2:hover {
        animation: product-swing 0.5s ease;
        animation-iteration-count: 1;

    }

    /* Whith the screen size more than 900px, the photos of products will shrink when the mouse hovers */

    .product a img {
        transition: 0.2s ease-in-out;
    }

    .product a img:hover {
        transform: scale(.9);
    }

      /* Whith the screen size more than 900px, the menu links will grow a little bit when the mouse hovers */

    .menu-nav ul li a {
        transition: 0.2s ease-in-out;
    }
    .menu-nav ul li:hover {
        transform: scale(1.2);
    }

    .button1 {
        transition: 0.2s ease-in-out;
    }

/* About.html desktop version */


/* The about information will be displayed in 2 columns in desktop size. One for the text at the left and one for the image on the right */

    .flex-about {
        display: flex;
        flex-direction: row;
    }

/* The team section will be displayed horizontally when the screen is more than 900px */

    .team {
        display: flex;
        flex-direction: row;

        gap: 1em;
    }
/* Each team member photo will shrink a little when the mouse hovers */

    .team-member img {
        transition: 0.2s ease-in-out;
    }

    .team-member img:hover {
        transform: scale(.9);
    }


}